<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Profissionais | AgroSale</title>
	<link href="{% static 'assets/servicos/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/servicos/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'assets/servicos/css/4-col-portfolio.css'%} " rel="stylesheet">
	<style>
		body{
			margin: 0;
			padding: 0;
			background: url({% static 'assets/servicos/img/3.jpg' %}) no-repeat center fixed;
			background-size: cover;
			-vebkit-background-size:cover;
			-moz-background-size:cover
			-ms-background-size:cover;
			-o-background-size:cover;
		}
	</style>

</head>
<body>
	<form action=" " method="post">
	  <center><h2 class="my-4">Qual Serviço você Procura ? </h2></center>
	  <div class="container">  
	    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="busca" name="q">
	    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
	  </div>
	</form>

	

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Profissionais</h2>
        </div>
          {% for perfil in list %}
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ perfil.foto.url }}" alt="">
           <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'profissional_servicos:viewPerfil' perfil.id %}">{{ perfil.profissao }}</a>
                <a href="#">{{ perfil.nomeCompleto }}</a>
              </h4>
              <p class="card-text">{{ perfil.resumo }}</p>
            </div>
        </div>
        {% endfor %}


      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Proximo</span>
          </a>
        </li>
      </ul>
    </div>
    <footer class="py-5 bg-dark">
      <div class="container">
        <h6 class="m-0 text-center text-white">Copyright &copy; AgroSale 2018</h6>
      </div>
    </footer>
    <script src="{% static 'assets/servicos/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/servicos/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
</body>
</html>